.sidebar {
  position: fixed;
  top: 50px;
  width: 239px;
  background-color: #19171c;
  height: 100vh;
}

.sidebar_title {
  padding: 30px 0 20px 0;
  color: #efebf5;
  font-size: 15px;
  font-weight: 500;
}

.sidebar_streamList {
  padding: 0 0 0 10px;
  color: #efebf5;
}

.streamList_flexContainer {
  padding: 10px 15px 8px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.streamList_flexContainer:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.streamList_profilePic {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.streamList_streamUser {
  color: #f1f1f1;
  flex-basis: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.streamList_gameName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aeabb6;
  text-align: left;
  margin-top: 5px;
}

.streamList_viewerRight {
  color: #aeabb6;
  display: flex;
  justify-content: flex-end;
  flex-basis: 30%;
}

.streamList_redPoint {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 6px 3px 0 0;
  background-color: crimson;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}
